@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");

:root {
  --primary-color: #005cf5;
  --secondary-color: #ff6173;
  --font-color: #80807f;
}

body {
  margin: 0;
  font-family: "Sen";
  color: var(--font-color);
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  background-color: white;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

button:disabled:hover,
button[disabled]:hover {
  cursor: progress;
}

main {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 0px;
}

h1 {
  font-size: 40px;
  color: var(--primary-color);
  font-style: normal;
  font-weight: 400;
}

p {
  font-weight: 400;
  text-align: left;
}

.hidden-mobile {
  display: none;
}

.show-mobile {
  display: block;
}

.secondary-button {
  width: 35%;
  height: 60px;
  background: var(--secondary-color);
  color: white;
  border: none;
  font-weight: 800;
  font-size: 24px;
  min-width: 250px;
}

.main-section {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  text-align: center;
}

.formulario {
  margin: 50px 0;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

form input {
  color: var(--primary-color);
  width: 100%;
  height: 55px;
  border: none;
  border-bottom: 2px solid var(--font-color);
  outline: none;
  padding-left: 10px;
  font-weight: 700;
  font-size: 18px;
}

form input:focus {
  border-bottom: 2px solid var(--primary-color);
}

form button {
  width: 100%;
  color: white;
  font-weight: 700;
  font-size: 25px;
  line-height: 38px;
  border: none;
  background-color: var(--primary-color);
  height: 80px;
  font-weight: 700;
  margin-top: 50px;
}

button:hover {
  cursor: pointer;
}

form .autoComplete_wrapper {
  width: 100%;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer a {
  width: 100%;
  height: auto;
}

.banner {
  width: 100%;
  color: white;
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .banner img {
  height: auto;
} */

footer .aviso-privacidad {
  margin-bottom: 20px;
}

.aviso-privacidad a {
  text-decoration: none;
  color: #545454;
  font-weight: 400;
  font-size: 15px;
}

.form-control {
  text-align: center;
  width: 100%;
  position: relative;
}

.form-control small {
  visibility: hidden;
  position: absolute;
  bottom: -17px;
}

.form-control i {
  position: absolute;
  top: 10px;
  right: 5px;
}

.form-control input {
  box-sizing: border-box;
  width: 100%;
}

.fa-check-circle {
  visibility: hidden;
  color: green;
}

.fa-exclamation-circle {
  visibility: hidden;
  color: red;
}

.form-control.success input {
  border-bottom: 2px green solid;
}

.form-control.error input {
  border-bottom: 2px red solid;
}

.form-control.success i.fa-check-circle {
  visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
  visibility: visible;
}

.form-control.error small {
  visibility: visible;
  color: red;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-text {
  width: 55%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
}

.banner-text h1 {
  color: white;
  font-size: 40px;
}

.banner-text h1 b {
  font-weight: 800;
}

footer .aviso-privacidad {
  margin: 20px 0;
}

footer .aviso-privacidad a {
  color: var(--primary-color);
  text-decoration: none;
}

@media (min-width: 992px) {
  .main-section {
    width: 100%;
    flex-direction: row;
    padding: 0 10%;
    gap: 20%;
    margin-top: 100px 0;
  }
  .formulario {
    width: 45%;
  }
  .mancha {
    display: block;
    position: absolute;
    right: 75px;
    top: 36px;
  }
  .left-message h1 {
    font-size: 40px;
    text-align: left;
  }
  .left-message h2 {
    margin: 0;
    font-size: 24px;
    text-align: left;
    color: #ff6173;
  }
  .left-message h2 b {
    font-weight: 800;
  }

  main {
    margin-top: 100px;
  }

  .show-desktop {
    display: block;
  }
  .hidden-desktop {
    display: none;
  }
  .left-message {
    width: 40%;
    text-align: center;
  }

  .formulario {
    width: 40%;
    margin-top: 10px;
  }
}
